@import 'tech/variables';
@import 'tech/mixins';

body {
    @include fontFamily('Lato');
    height: 100%;
    color: $text;
}

.wrap {
    max-width: 320px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    align-items: center;
    background-color: $grey;
    justify-content: space-between;
    min-height: 37px;
    width: 100%;
}

.logo-text {
    font-size: 12px;
    color: $white;
    @include fontFamily('Montserrat');
    font-weight: 500;
    margin-left: 19px;
}

.logo-img {
    display: none;
}

.page-nav {
    position: relative;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkGrey;
    height: 37px;
    width: 40px;

    &__open {
        width: 16px;
        height: 14px;
        padding: 1px 0;
        border-top: 1px solid $burgerBorder;
        border-bottom: 1px solid $burgerBorder;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__inner {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $white;
        position: relative;

        &::after {
            content: '';
            width: 1px;
            background-color: $burgerBorder;
            position: absolute;
            right: -2px;
            top: 0;
            bottom: 0;
        }

        &::before {
            content: '';
            width: 1px;
            background-color: $burgerBorder;
            position: absolute;
            left: -2px;
            top: 0;
            bottom: 0;
        }
    }

    &__close {
        width: 43px;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        margin-top: -2px;
        display: none;

        &--flex {
            display: flex;
        }

        &::after {
            content: '';
            position: absolute;

            height: 2px;
            width: 21px;
            background-color: $white;
        }

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 22px;
            background-color: $white;
        }

    }

}

.main-menu {
    display: none;
    // display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 182px;
    box-shadow: 0.5px 0.866px 3px rgba(0, 0, 0, 0.35);
    background-color: $menuBgr;
    padding-bottom: 5px;

    li {

        a {
            height: 100%;
            display: block;
            @include fontFamily('Lato');
            font-size: 12px;
            font-weight: 400;
            color: $menuText;
            padding-left: 12.5px;
            border-bottom: 2px solid $menuBrd;

            &:hover {
                background-color: $menuBgrDarker;
            }
        }

        &:first-child a {
            padding-top: 12px;
            padding-bottom: 9px;
        }

        &:nth-child(2) a {
            padding-top: 8px;
            padding-bottom: 9px;
        }

        &:nth-child(3) a {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &:nth-child(4) a {
            padding-top: 9px;
            padding-bottom: 8px;
        }

        &:nth-child(5) a {
            padding-top: 9px;
            padding-bottom: 5px;
        }



    }


}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner {
    padding: 17px 20px 93px 20px;
    min-height: 172px;
    width: 100%;

    
        background-image: url(../img/header-fon.png);
        background-size: cover;
        background-position: bottom 0 left 0;
        background-repeat: no-repeat;
    

    &__text {
        font-size: 16px;
        color: $white;
        font-weight: 700;
        margin-bottom: 7px;
    }

    &__link {
        display: block;
        font-size: 14px;
        color: $linkBlue;
        font-weight: 700;
        margin-top: 10px;
    }
}

.categories {
    margin-top: 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    width: 100%;
}

.product {
    display: flex;


    &__text {
        font-size: 20px;
        color: $white;
        font-weight: 700;
        text-align: center;
        width: 78%;

        &--bgr-pizza {
            background: url(../img/product-fon11.png) no-repeat;
            padding-top: 25px;
            min-height: 75px;
        }

        &--bgr-salad {
            background: url(../img/product-fon22.png) no-repeat 0 -2px;
            padding-top: 27px;
            min-height: 74px;
        }

        &--bgr-dessert {
            background: url(../img/product-fon33.png) no-repeat -2px -1px;
            padding-top: 26px;
            min-height: 74px;
        }
    }

    &__link {
        display: flex;
        background-color: $green;
        width: 22%;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 22px;
        height: 22px;
        fill: $white;
    }
}

.content-title {
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    p {
        font-size: 10px;
        color: $lightGrey;
        margin-left: 2px;
    }

    &-logo {
        display: none;
    }

}


.menu-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.menu-block {
    width: 100%;

    &__title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        min-height: 37px;
        padding-top: 9px;
        padding-left: 18px;
        margin-top: 11px;
    }
}

.menu-block:nth-child(odd) .menu-block {
    &__title {
        color: $green;
        background-color: $grey;
    }

}

.menu-block:nth-child(even) .menu-block {
    &__title {
        color: $white;
        background-color: $green;
        margin-top: 13px;
    }

}

.menu {
    padding: 0 17px 18px 18px;

    &__title {
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        min-height: 25px;
        padding: 8px 0;
        margin-top: 10px;
        background-size: 31px;


        &--pizza {
            background-image: url(../img/menu1.png);
            background-repeat: no-repeat;
            background-position: right -1px center;
        }

        &--wine {
            background-image: url(../img/menu2.png);
            background-repeat: no-repeat;
            background-position: right center;
            margin-top: 12px;
        }

        &--coffe {
            background-image: url(../img/menu3.png);
            background-repeat: no-repeat;
            background-position: right -2px center;
        }

        &--beer {
            background-image: url(../img/menu4.png);
            background-repeat: no-repeat;
            background-position: right center;
            margin-top: 12px;

        }
    }

    &__card {
        padding-top: 11px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }

    &__name {
        font-size: 13.5px;
        font-weight: 400;
    }

    &__price {
        font-size: 14px;
        font-weight: 700;
    }

    &__description {
        font-size: 9px;
        font-weight: 400;
        line-height: 1.2;
    }
}

.page-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 55px;
    padding-top: 13px;
    padding-bottom: 12px;
    background-color: $green;
    margin-top: 30px;

    &__text {
        font-size: 12px;
        @include fontFamily('Montserrat');
        color: $white;
    }

    &__logo {
        display: none;
    }
}


@media(min-width:321px) {
    .wrap {
        max-width: 100%;
    }

    .product {
        &__text {

            &--bgr-pizza {
                background: url(../img/product-fon1.png) no-repeat;
                background-size: cover;
                background-position: bottom 0 left 0;
            }

            &--bgr-salad {
                background: url(../img/product-fon2.png) no-repeat;
                background-size: cover;
                background-position: center;
            }

            &--bgr-dessert {
                background: url(../img/product-fon3.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@media(min-width:640px) {


    .logo-text {
        font-size: 24px;
        margin-left: 36px;
    }

    .burger-menu {

        height: 72px;
        width: 82px;

        &__open {
            width: 30px;
            height: 20px;
            padding: 0;
            border: none;
        }

        &__inner {
            height: 4px;

            &::after {
                content: none;
            }

            &::before {
                content: none;
            }
        }

        &__close {
            width: 25px;
            height: 25px;

            &::after {
                height: 4px;
                width: 30px;
            }

            &::before {
                width: 4px;
                height: 30px;
            }
        }
    }

    .main-menu {

        width: 243px;

        li {
            a,
            &:first-child a,

            &:nth-child(2) a,

            &:nth-child(3) a,

            &:nth-child(4) a,

            &:nth-child(5) a {
                font-size: 14px;
                padding: 14px 30px;
                border-bottom: 1px solid $menuBrd;
            }

        }
    }

    .banner {
        padding: 26px 38px 197px 38px;

        &__text {
            font-size: 36px;
            margin-bottom: 5px;

        }

        &__link {
            margin-top: 22px;
            font-size: 24px;
        }
    }

    .categories {
        margin-top: 6px;
        grid-gap: 3px;
    }

    .product {

        &__text {
            font-size: 36px;
            padding: 56px 0;

            &--bgr-pizza {
                background: url(../img/product-fon1.png) no-repeat;
                background-size: cover;
                background-position: bottom -65px left 0;
            }

            &--bgr-salad {
                background: url(../img/product-fon2.png) no-repeat;
                background-size: cover;
                background-position: bottom -115px left 0;
            }

            &--bgr-dessert {
                background: url(../img/product-fon3.png) no-repeat;
                background-size: cover;
                background-position: bottom -317px left 0;
            }

        }


        &__image {
            width: 40px;
            height: 40px;
        }
    }

    .content-title {
        margin-top: 42px;

        h2 {
            font-size: 40px;
            margin-bottom: 6px;
        }

        p {
            font-size: 20px;
            margin-left: 3px;
        }
    }

    .menu-block {

        &__title {
            font-size: 40px;
            margin-top: 20px;
            padding: 18px 36px;
        }

        &:nth-child(even) .menu-block {
            &__title {
                margin-top: 20px;
            }
        }

    }

    .menu {
        padding: 0 35px 20px 35px;

        &__title {
            font-size: 30px;
            background-size: 61px;
            padding: 16px 0;
            margin-top: 16px;
            margin-bottom: 6px;
            background-position: right -5px center;


            &--wine {
                margin-top: 22px;
            }

            &--beer {
                margin-top: 21.3px;
                margin-bottom: 8px;
                background-position: right 5px center;
            }
        }

        &__card {
            padding-top: 17.1px;
        }

        &__item {
            margin-bottom: 14.3px;
        }

        &__name {
            font-size: 27px;
        }

        &__price {
            font-size: 27px;
        }

        &__description {
            font-size: 18px;
        }
    }

    .page-footer {
        margin-top: 95px;
        min-height: 95px;
        padding: 26px 0;

        &__text {
            font-size: 18px;

            &:first-of-type {
                margin-bottom: 10px;
            }
        }
    }
}

@media(min-width:980px) {

    .page-header {
        padding: 7px 30px;
    }


    .logo-text,
    .burger-menu {
        display: none;
    }

    .logo-img {
        display: block;
    }

    .main-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        box-shadow: 0 0 0 transparent;
        background-color: transparent;
        align-items: center;

        li {
            a,
            &:first-child a,

            &:nth-child(2) a,

            &:nth-child(3) a,

            &:nth-child(4) a,

            &:nth-child(5) a {
                font-size: 15px;
                color: $white;
                padding: 0;
                border-bottom: none;
                text-transform: uppercase;
                @include fontFamily('Montserrat');


                &:hover {
                    background-color: transparent;
                }
            }

            &:not(:last-child) {
                margin-right: 31px;
            }
        }
    }

    .banner {
        padding: 55px 31px 263px 31px;

        &__text {
            font-size: 54px;
            margin-bottom: 13px;
        }

        &__link {
            margin-top: 55px;
            font-size: 34px;
        }
    }

    .categories {
        grid-gap: 0;
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        &__text {
            width: 100%;
            font-size: 38px;
            padding: 138px 0 150px 0;
            background-position: center;
        }


        &__link {
            display: none;
        }
    }

    .content-title {
        padding: 0 18px 0 26px;
        justify-content: space-between;
        align-items: center;
        margin-top: 52px;

        h2 {
            font-size: 34px;
        }

        &-logo {
            display: block;

            img {
                width: 91%;
            }

        }

    }

    .menu-block {
        width: 50%;

        &__title {
            font-size: 34px;
            margin-top: 9px;
            padding: 20px 18.5px;
        }

        &:nth-child(even) .menu-block {
            &__title {
                margin-top: 9px;
            }
        }
    }

    .menu {
        padding: 0 9px 20px 16px;

        &__title {
            font-size: 26px;
            background-size: 52px;
            margin-top: 20px;
            margin-bottom: 10px;

            &--wine {
                margin-top: 32px;
                margin-bottom: 10px;
                background-size: 59px;
                background-position: right -15px center;
            }

            &--coffe {
                background-position: right 5px center;
                background-size: 59.5px;
            }

            &--beer {
                margin-top: 32px;
                margin-bottom: 10;
                background-size: 59.5px;
                background-position: right 2px center;
            }
        }

        &__card {
            padding-top: 18px;
            margin-bottom: 7px;
        }

        &__item {
            margin-bottom: 13px;
        }

        &__name {
            font-size: 24px;
        }

        &__price {
            font-size: 24px;
        }

        &__description {
            font-size: 16px;
            padding-left: 6px;
        }
    }

    .page-footer {
        margin-top: 57px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 7px 30px;

        &__text {
            font-size: 18px;
            margin-left: 5px;

            &:first-of-type {
                margin-bottom: 0;
            }
        }

        .logo-img {
            margin-right: auto;
        }
    }
}


@media(min-width:1200px) {
    .wrap {
        max-width: 1200px;
    }

    .page-header {
        padding: 7px 37px;
    }

    .main-menu {

        li {

            &:not(:last-child) {
                margin-right: 31.5px;
            }
        }
    }

    .banner {
        padding: 45px 39px 380px 39px;

        &__text {
            font-size: 62px;
            margin-bottom: 5px;
        }

        &__link {
            margin-top: 54px;
            font-size: 38px;
        }
    }

    .product {
        &__text {
            font-size: 43px;
            padding: 178px 0;
        }
    }

    .content-title {
        margin-top: 41px;
        margin-bottom: 15px;
        padding: 0 10px 0 20px;

        h2 {
            margin-top: 29px;
            font-size: 40px;
        }

        &-logo {

            img {
                width: 100%;

            }
        }

    }

    .menu-block {

        &__title {
            font-size: 40px;
            margin-top: 0;
            padding: 17px 18px;
        }

        &:nth-child(even) .menu-block {
            &__title {
                margin-top: 0;
            }
        }
    }

    .menu {
        padding: 0 9px 20px 22px;

        &__card {
            padding-top: 15px;
        }

        &__title {
            font-size: 30px;
            background-size: 60px;
            margin-top: 16px;

            &--wine {
                margin-top: 24px;
                margin-bottom: 9px;
                background-position: right -7px center;
            }



            &--beer {
                margin-top: 24px;
                margin-bottom: 9px;
                background-size: 64px;
                background-position: right 12px center;
            }
        }

        &__card {
            padding-top: 16px;
            margin-bottom: 2px;
        }

        &__name {
            font-size: 27px;
        }

        &__price {
            font-size: 27px;
        }

        &__description {
            font-size: 18px;
            padding-left: 1px;

        }
    }

    .page-footer {
        margin-top: 105px;
        padding: 6px 37px;

    }

}